extends layout

block content
  if authorised
    p Welcome #{fname} | 
      a(href="/exit") Log Out
    if typeof users != 'undefined'
    p User list
    ul
      each user in users
        li= user.user_fname
  else
    p Don't have an account yet? 
      a(href='/register') Register
    p Already have an account? 
      a(href='/login') Login