doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main
      h1= title
      if typeof messages != 'undefined'
        each msg in messages
          p= msg
      block content